ACO/src/main/java/initialisation/initialisation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plateau">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="nom"/>
                <xs:element type="xs:byte" name="width"/>
                <xs:element type="xs:byte" name="heigth"/>
                <xs:element name="liste_agentite">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nid">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nom"/>
                                        <xs:element name="position">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="x"/>
                                                    <xs:element type="xs:byte" name="y"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="fourmis"/>
                            <xs:element name="nourritures">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nourriture" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="quantite"/>
                                                    <xs:element name="position">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:byte" name="x"/>
                                                                <xs:element type="xs:byte" name="y"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="obstacles" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="obstacle" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="position">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:byte" name="x"/>
                                                                <xs:element type="xs:byte" name="y"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>